<div class="text-left">
  <form id="searchForm">
    <input id="searchResult" placeholder="Search">
    <input type="submit" value="Submit"><br>
  </form>
</div>

<div class="text-center">
  <div id="main">
      
  </div>
</div>