<div class="text-center">
  <div>
    <%= link_to "Campaign JSON page", campaigns_path %>
  </div>
  <div>
    <%= link_to "Generate an user", new_user_path %>
  </div>
  <div>
    <%= link_to "User JSON page", users_path %>
  </div>
  <div>
    <%= link_to "Search for campaign winner", search_index_path %>
  </div>


</div>